/****************** starup ****************/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    transition: all ease-in-out .3s;
}
:root{
    --heading-text: 'Inter', sans-serif;
    --paragraph-text: 'Raleway', sans-serif;
    --main-color: #0062eb;
    --main-color2: #f2b229;
}
/***************** basic *****************/
body{
    scroll-behavior: smooth;
    height: 200vh;
}
body::-webkit-scrollbar{
    display: none;
}
body li{
    list-style: none;
}
body h1{
    font-weight: 600;
    letter-spacing: 0;
    font-size: 40px;
    font-family: var(--heading-text);
}
body h3{
    font-weight: 600;
    letter-spacing: 0;
    font-size: 20px;
    font-family: var(--heading-text);
}
body a{
    text-decoration: none;
    font-size: 14px;
    font-family: var(--paragraph-text);
}
body p{
    letter-spacing: .5px;
    font-size: 14px;
    font-family: var(--paragraph-text);
}
img{
    width: 100%;
    height: 100%;
}
.container{
    padding: 70px 100px;
}
.section-header{
    margin-bottom: 50px;
}
.section-header p{
    margin-top: 10px;
}
/* header */
/* nav */
nav{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.151);
}
.logo h2{
    font-family: var(--heading-text);
    font-size: 30px;
}
.logo h2 span{
    color: var(--main-color);
}
.nav-mid{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.nav-mid a{
    color: #000;
    font-size: 13px;
    font-weight: 700;
}
.nav-mid a i{
    font-size: 12px;
}
.nav-right{
    display: flex;
    align-items: center;
    font-weight: 600;
    gap: 1.5rem;
}
.nav-right a{
    color: #000;
    font-size: 13px;
    font-weight: 700;
}
.nav-right .btn1{
    padding: 10px 30px;
    border-radius: 4px;
    background-color: var(--main-color);
    color: #fff;
}
/* hero */
.hero{
    background-color: #f3f3f3;
    display: grid;
    grid-template-columns: 59% 40%;
    justify-content: space-between;
    align-items: center;
}
.hero h1{
    font-size: 65px;
    margin-bottom: 10px;
}
.hero h1 span{
    color: var(--main-color2);
}
.hero a{
    padding: 12px 35px;
    background-color: var(--main-color2);
    color: #fff;
    display: inline-block;
    margin-top: 20px;
    border-radius: 4px;
    font-weight: 700;
}
.hero img{
    height: 400px;
}
/* video */
.video{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 49% 49%;
    justify-content: space-between;
}
.video img{
    border: 10px solid var(--main-color2);
}
.video-data{
    background-color: var(--main-color22);
}
.video-data2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
}
.video h3{
    font-size: 40px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 20px;
    line-height: 40px;
}
.video a{
    padding: 10px 20px;
    background-color: var(--main-color);
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    width: 150px;
}
.video p{
    font-size: 14px;
    color: #000;
    margin-bottom: 20px;
}
/* tour */
.tour-header p{
    color: grey;
}
.tour-data{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    justify-content: space-between;
}
.tour-content{
    position: relative;
    margin-bottom: 30px;
}
.tour-content article{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 20px;
    background-color: #0000002d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    color: #fff;
}
.tour-content article p{
    margin-top: 5px;
    font-size: 12px;
}
/* footer */
footer h1{
    color: var(--main-color);
    margin-bottom: 20px;
}
footer{
    background-color: #000000;
    padding: 50px;
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between;
}
footer .name{
    display: grid;
    grid-template-columns: 49% 49%;
    justify-content: space-between;
    margin-bottom: 10px;
}
footer .name input{
    display: block;
    padding: 15px;
    border: none;
    outline: none;
    width: 100%;
}
footer .mail{
    display: block;
    padding: 15px;
    border: none;
    outline: none;
    width: 100%;
    margin-bottom: 10px;
}
footer textarea{
    display: block;
    padding: 15px;
    border: none;
    outline: none;
    width: 100%;
    margin-bottom: 10px;
}
footer a{
    margin-top: 10px;
    display: inline-block;
    padding: 10px 40px;
    background-color: var(--main-color);
    color: #fff;
}
footer img{
    width: 200px;
    height: auto !important;
}
.footer-data2 p{
    color: #fff;
}
.footer-info p{
    margin-top: 20px;
    color: #fff;
}
.footer-social i{
    margin-top: 20px;
    padding: 20px;
    background-color: var(--main-color);
    color: #fff;
}